{% extends 'base.html' %}

{% block head %}
    <title>Employees manager</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Departments</h1>

        {% if departments|length < 1 %}
            <h4>There are no departments. Create one below!</h4>
        {% else %}
            <div id="pricing" class="container-fluid">
                <table class="department-table table table-bordered table-striped">
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Average Salary</th>
                        <th>Actions</th>
                    </tr>
                    {% for d in departments %}
                        <tr class="department-item" data-id="{{ d.id }}">
                            <td>{{ d.id }}</td>
                            <td><a href="departments/{{ d.id }}">{{ d.name }}</a></td>
                            <td>{{ d.salary }}</td>
                            <td>
                                <span class="delete-btn btn btn-primary">Delete</span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <form action="/departments" method="POST">
            <input type="text" name="dep_name" id="dep_name">
            <input type="submit" value="Add department">
        </form>
    </div>
    <script src="static/js/departments.js"></script>
{% endblock %}
